<main class="main">
  <h1>Dashboard</h1>
  <div style="display: flex; gap: 8px; flex-wrap: wrap;" *ngIf="valueReponse.length > 0">
    <div style="padding: 8px; border-radius: 4px; background-color: #ddd;" *ngFor="let value of valueReponse">{{ value }}</div>
  </div>

  <div>
    <label>
      <input
        type="radio"
        (change)="updateInterval(1)"
        [checked]="interval === 1"
      />
      <div class="interval-option">1s</div>
    </label>
    <br />
    <label>
        <input
          type="radio"
          (change)="updateInterval(3)"
          [checked]="interval === 3"
        />
        <div class="interval-option">3s</div>
      </label>
  </div>
</main>
